.bg-rest {
    background-image: url(../img/rest2.avif);
    height: 40rem;
    background-size: cover;
}

.fs-10 {
    font-size: 5rem;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    /* background: #000; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #444; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}